*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
  color: #fff;
}

section {
  padding: 7em 0;
}

.container {
  width: 85%;
  max-width: 95em;
  margin: 0 auto;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: .5em 1.25em;
  background: var(--clr-accent, red);
  border-radius: .25em;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  transition: transform 250ms ease-in-out, opacity 250ms linear, -webkit-transform 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .9;
}

.primary-title {
  font-family: 'Russo One', sans-serif;
  letter-spacing: 4px;
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: clamp(2.5rem, calc(5vw +1rem), 4.5rem);
  line-height: 1;
  margin-bottom: 5rem;
}

.primary-text {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.fa-bicycle {
  color: #fff;
  padding: 1em;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-links li {
  padding: 1rem;
  display: block;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.navbar-links a:hover {
  color: #f80707;
}

.toggle-button {
  width: 31px;
  height: 21px;
  margin: 10px;
  position: absolute;
  top: .75rem;
  right: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.toggle-button .bar1, .bar2, .bar3 {
  background: #fff;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: .75rem;
  right: 1rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.05s;
  transition: -webkit-transform 0.05s;
  transition: transform 0.05s;
  transition: transform 0.05s, -webkit-transform 0.05s;
}

.bar1 {
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
}

.bar2 {
  -webkit-transform: translate(-50%, 300%);
          transform: translate(-50%, 300%);
}

.bar3 {
  -webkit-transform: translate(-50%, 700%);
          transform: translate(-50%, 700%);
}

@media (max-width: 550px) {
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar-links ul {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
  }
  .open-menu .bar1 {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .open-menu .bar3 {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .open-menu .bar2 {
    width: 0;
  }
}

.hero {
  background-color: #2e2e2e;
  text-align: center;
  padding: 20em 0;
  height: 100vh;
  color: #fff;
}

@supports (background-blend-mode: multiply) {
  .hero {
    background-image: url(/images/e-bike-landing.jpg);
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.nav-scrolled {
  background: #d3d3d3;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.featured {
  background-color: #555353;
  position: relative;
}

#bicycles {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.flex-img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.bikes {
  position: relative;
}

.e-bikes {
  position: relative;
}

.kids-bikes {
  position: relative;
}

.bikes-caption, .e-bike-caption, .kids-bike-caption {
  position: absolute;
  top: 0;
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em;
  color: #fff;
  background: transparent;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border: none;
  z-index: 5;
}

@media only screen and (min-device-width: 768px) {
  #bicycles {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.logo-brands {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */