*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
    background-color: #eee;  
}

main {
    position: relative;
    margin-bottom: 200px;
    z-index: 1;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p { 
    margin: 0;
    color: #fff;
}

h1 {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
}

.btn{
	opacity: 1;
	outline: 0;
	color: #fff;
	line-height: 40px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	
	&:hover{
		
		&:after{
			opacity: 1;
			transform: translateY(0) rotateX(0);
		}
		
		&:before{
			opacity: 0;
			transform: translateY(50%) rotateX(90deg);
		}
	}
	
	&:after{
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		color: #323237;
		display: block;
		transition: 0.5s;
		position: absolute;
		background: #adadaf;
		content: attr(data-back);
		transform: translateY(-50%) rotateX(90deg);
	}
	
	&:before{
		top: 0;
		left: 0;
		opacity: 1;
		color: #fff;
		display: block;
		padding: 0 30px;
		line-height: 40px;
		transition: 0.5s;
		position: relative;
		background: rgb(207, 3, 3);
		content: attr(data-front);
		transform: translateY(0) rotateX(0);
	}
}
section {
    padding: 7em 0;
}

.container {
    width: 85%;
    max-width: 95em;
    margin: 0 auto;
}

.spacing > * + * {
    margin-top: var(--spacer, 2rem);
}
.primary-title {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 4px;
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: clamp(2.5rem, calc(5vw +1rem), 4.5rem);
    line-height: 1;
    margin-bottom: 5rem;
}

.primary-text {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-links li {
    padding: 1rem;
    display: block;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.navbar-links a:hover {
    color: rgb(248, 7, 7);
}

.toggle-button {
    width: 31px;
    height: 21px;
    margin: 10px;
    position: absolute;
    top: .75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.toggle-button .bar1, .bar2, .bar3 {
    background: #fff;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: .75rem;
    right: 1rem;
    transform: translate(-50%, -50%);
    transition: transform 0.05s;
}

.bar1 {
    transform: translate(-50%, -100%);
}

.bar2 {
    transform: translate(-50%, 300%);
}

.bar3 {
    transform: translate(-50%, 700%);
}

@media (max-width: 550px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        backdrop-filter: blur(1rem);
    }

    .open-menu .bar1 {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .open-menu .bar3 {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .open-menu .bar2 {
        width: 0;
    }
}

.landing {
    background-color: rgb(48, 47, 47);
    @supports (background-blend-mode: multiply) {
        background-image: url(.images/e-bike-landing.jpg);
        background-blend-mode: overlay;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    text-align: center;
    padding: 20em 0;
    height: 100vh;
    color: #fff;
}

.nav-scrolled {
    background:#d3d3d3;
    box-shadow: 0 3px 20px rgba(black, 0.2);
}

.featured {
    background-color: rgb(85, 83, 83);
    position: relative;
}

#bicycles {
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
}

.flex-img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bikes {
    position: relative;
}

.e-bikes {
    position: relative;
}

.kids-bikes {
    position: relative;
}

.bikes-caption, .e-bike-caption, .kids-bike-caption {
    position: absolute;
    top: 0;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    color: #fff;;
    background: transparent;
    backdrop-filter: blur(1rem);
    border: none;
    z-index: 5;
}


@media only screen and (min-device-width : 768px) {
    #bicycles {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

.logo-brands {
    object-fit: contain;
    max-width: 100%;
    padding-bottom: 1em;
    
}

.brands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fff;
}

#services {
    background-color: #eee;;
}

.section-title {
    color: #000;
}

#bike-to-work {
    display: grid;
    grid-template-rows: auto;
    text-align: center;
}

.service-title { 
    color: #000;
    font-size: 1.3rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

.service-description {
    color: #000;
    text-align: left;
}

@media only screen and (min-device-width : 768px) {
    #bike-to-work {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
    
    }
    
    .service-description {
        grid-column: 2 /2;
        padding: 2em;
    }
    
    .bike-to-work-image {
        grid-column: 1 / 1;
        max-width: 100%;
    }
}

#maintenance-and-repair {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: auto;
    text-align: center;
}

.service-image { 
    margin-top: 1em;
}

@media only screen and (min-device-width : 768px) {
    #maintenance-and-repair {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .service-description {
        grid-column: 1 / 1;
    }

    .service-image {
        grid-column: 2 / 2;
    }

}

.stock-details {
    color: #000;
    text-align: left;
    padding-top: 2em;
    padding-inline: 2em;
    padding-bottom: 0;
}

#stock {
    margin-top: 2rem;
    display: grid;
    grid-template-rows: auto;
    text-align: center;
}

.stock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
}
.stock li {
    list-style: none;
}

@media only screen and (min-device-width : 768px) {
    #stock {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .service-description {
        grid-column: 2 /2;
        padding: 2em;
    }

    .store-image {
        grid-column: 1 / 1;
        max-width: 100%;
    }
}

/* === Bike sizing === */

#bike-size {
    background-color: grey;
    z-index: 1;
}


.bike-sizing {
    background: grey;
    color: #000;
}

.bike-size-hero {
    background-color: rgb(46, 46, 46);
    @supports (background-blend-mode: multiply) {
        background-image: url(.images/feature-bg.jpg);
        background-blend-mode: overlay;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    text-align: center;
    padding: 20em 0;
    height: 100vh;
    color: #fff;
}

.size-title { 
    padding: 2em;
    text-align: center;
}

table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    color: rgb(27,30,36);
    font-size: .7em;
    margin: 0 auto;
  }

  @media only screen and (min-device-width : 768px) {
      table {
        font-size: 1em;
      }
  }

  .bike-chart {
    background-color: rgb(62,148,236);
  }

  .mountain-bike-chart {
    background-color: rgb(255,115,0);
  }

  .hybrid-bike-chart { 
    background-color: rgba(168,189,4, .8);
  }

  .road-bike-chart {
    background-color: rgb(61,53,39);
    color: rgb(220,220,220);
    margin-bottom: 2em;
  }

  caption, th {
    background-color: rgb(27,30,36);
    color: rgb(220,220,220);
    width: 100%;
  }

  tr:nth-child(2n){
    background-color: rgba(0,0,0, .1)
  }

  tr {
      text-align: center;
  }

  /* === Footer === */

  footer {
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background:rgb(46, 46, 46);
        color: #fff;
        padding: 1em 2em;
  }

  .footer-title {
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(rgba(238, 238, 238, 0.527), #d71a1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media only screen and (min-device-width : 768px) {
    .footer-details {
        flex-direction: row !important;
        justify-content: space-around !important;
    }

    .footer-title {
        font-size: 3em;
    }

    .line {
        border-left: thin solid #fff;
        height: 150px;
    }

    .contact {
        font-size: 1.5em;
    }

    .icon {
        font-size: 2em;
    }

  }

  .footer-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
  }

  .contact {
      text-decoration: none;
      color: #fff;
      align-self: center;
  }

  .icon {
      background: -webkit-linear-gradient(rgba(238, 238, 238, 0.527), #d71a1a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      align-self: center;
  }

  .fa-twitter {
    padding-left: 1em;
  }

  .address {
    align-self: center;
    text-align: center;
  }

  /* ==== Bike page ==== */

.main {
    background: #eee;
    color: #000;
}

  .main-image {
    background-color: rgb(46, 46, 46);
    @supports (background-blend-mode: multiply) {
        background-image: url(.images/bikes-product.jpg);
        background-blend-mode: overlay;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    text-align: center;
    padding: 20em 0;
    height: 100vh;
    color: #fff;
}

.main-image-ebike {
    background-color: rgb(46, 46, 46);
    @supports (background-blend-mode: multiply) {
        background-image: url(.images/ebike-landing.jpg);
        background-blend-mode: overlay;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    text-align: center;
    padding: 20em 0;
    height: 100vh;
    color: #fff;
}

.bikes {
    display: flex;
}

.prod-detail {
    color: #000;
}

